# dhcpd.conf
#

# option definitions common to all supported networks...
{% if dhcp_common_domain is defined %}
option domain-name "{{ dhcp_common_domain }}";
{% endif %}
{% if dhcp_common_nameservers is defined %}
option domain-name-servers {{ dhcp_common_nameservers }};
{% endif %}

{% if dhcp_common_default_lease_time is defined %}
default-lease-time {{ dhcp_common_default_lease_time }};
{% endif %}
{% if dhcp_common_max_lease_time is defined %}
max-lease-time {{ dhcp_common_max_lease_time }};
{% endif %}
{% if dhcp_common_deny_duplicates is defined %}
deny duplicates;
{% endif %}

{% if dhcp_common_use_host_decl_names is defined %}
use-host-decl-names on;
{% endif %}

# Use this to enable / disable dynamic dns updates globally.
{% if dhcp_common_ddns_update_style is defined %}
ddns-update-style {{ dhcp_common_ddns_update_style }};
{% endif %}

# If this DHCP server is the official DHCP server for the local
# network, the authoritative directive should be uncommented.
{% if dhcp_common_authoritative is defined %}
authoritative;
{% endif %}

{% if dhcp_common_ntp is defined %}
option ntp-servers {{ dhcp_common_ntp }};
{% endif %}

# Use this to send dhcp log messages to a different log file (you also
# have to hack syslog.conf to complete the redirection).
{% if dhcp_common_log_facility is defined %}
log-facility {{ dhcp_common_log_facility }};
{% endif %}

# rfc4833: Timezone Options for DHCP
{% if dhcp_tz_posix_string is defined %}
option tz-posix-string code 100 = string;
option tz-posix-string "{{ dhcp_tz_posix_string }}";
{% endif %}

{% if dhcp_common_hosts is defined %}
{% for dhcp_host in dhcp_common_hosts %}
host {{ dhcp_host.name }} {
  hardware ethernet {{ dhcp_host.mac_address }};
{% if dhcp_host.fixed_address is defined %}
  fixed-address {{ dhcp_host.fixed_address }};
{% endif %}
{% if dhcp_host.routers is defined %}
  option routers {{ dhcp_host.routers }};
{% endif %}
{% if dhcp_host.broadcast_address is defined %}
  option broadcast-address {{ dhcp_host.broadcast_address }};
{% endif %}
{% if dhcp_host.domain_nameservers is defined %}
  option domain-name-servers {{ dhcp_host.domain_nameservers }};
{% endif %}
{% if dhcp_host.host_name is defined %}
  option host-name "{{ dhcp_host.host_name }}";
{% endif %}
{% if dhcp_host.domain_name is defined %}
  option domain-name "{{ dhcp_host.domain_name }}";
{% endif %}
{% if dhcp_host.default_lease_time is defined %}
  default-lease-time {{ dhcp_host.default_lease_time }};
{% endif %}
{% if dhcp_host.max_lease_time is defined %}
  max-lease-time {{ dhcp_host.max_lease_time }};
{% endif %}
}
{% endfor %}
{% endif %}

# Subnets
{% for s in dhcp_subnets %}
subnet {{ s.base }} netmask {{ s.netmask }} {
{% if s.range_start is defined %}
  range {{ s.range_start }} {{ s.range_end }};
{% endif %}
{% if s.routers is defined %}
  option routers {{ s.routers }};
{% endif %}
{% if s.broadcast_address is defined %}
  option broadcast-address {{ s.broadcast_address }};
{% endif %}
{% if s.domain_nameservers is defined %}
  option domain-name-servers {{ s.domain_nameservers }};
{% endif %}
{% if s.domain_name is defined %}
  option domain-name "{{ s.domain_name }}";
{% endif %}
{% if s.default_lease_time is defined %}
  default-lease-time {{ s.default_lease_time }};
{% endif %}
{% if s.max_lease_time is defined %}
  max-lease-time {{ s.max_lease_time }};
{% endif %}
}
{% endfor %}

# Classes
{% for c in dhcp_classes %}
class "{{ c.name }}" {
  {{ c.rule }};
}
{% endfor %}

# Shared networks
{% for n in dhcp_shared_networks %}
shared-network {{ n.name }} {
{% for s in n.subnets %}
  subnet {{ s.base }} netmask {{ s.netmask }} {
{% if s.range_start is defined %}
    range {{ s.range_start }} {{ s.range_end }};
{% endif %}
{% if s.routers is defined %}
    option routers {{ s.routers }};
{% endif %}
{% if s.broadcast_address is defined %}
    option broadcast-address {{ s.broadcast_address }};
{% endif %}
{% if s.domain_nameservers is defined %}
    option domain-name-servers {{ s.domain_nameservers }};
{% endif %}
{% if s.domain_name is defined %}
    option domain-name "{{ s.domain_name }}";
{% endif %}
{% if s.default_lease_time is defined %}
    default-lease-time {{ s.default_lease_time }};
{% endif %}
{% if s.max_lease_time is defined %}
    max-lease-time {{ s.max_lease_time }};
{% endif %}
{% for p in n.pools %}
  pool {
    {{ p.rule }};
{% if p.range_start is defined %}
    range {{ p.range_start }} {{ p.range_end }};
{% endif %}
  }
{% endfor %}
  }
{% endfor %}
}
{% endfor %}

{% if dhcpd and dhcpd['groups'] is defined %}
{% for group_ in dhcpd.groups %}
{% if group_.name is defined %}
# {{ group_.name }}
{% endif %}
group {
{% if group_.domain is defined %}
  option domain-name "{{ group_.domain }}";
{% endif %}
{% if group_.routers is defined %}
  option routers {{ group_.routers }};
{% endif %}
{% if group_.hosts is defined %}
{% for host_ in group_['hosts'] %}
  host {{ host_.name }} {
    hardware ethernet {{ host_.mac_address }};
{% if host_.fixed_address is defined %}
    fixed-address {{ host_.fixed_address }};
{% endif %}
{% if host_.routers is defined %}
    option routers {{ host_.routers }};
{% endif %}
{% if host_.broadcast_address is defined %}
    option broadcast-address {{ host_.broadcast_address }};
{% endif %}
{% if host_.domain_nameservers is defined %}
    option domain-name-servers {{ host_.domain_nameservers }};
{% endif %}
{% if host_.host_name is defined %}
    option host-name "{{ host_.host_name }}";
{% endif %}
{% if host_.domain_name is defined %}
    option domain-name "{{ host_.domain_name }}";
{% endif %}
{% if host_.default_lease_time is defined %}
    default-lease-time {{ host_.default_lease_time }};
{% endif %}
{% if host_.max_lease_time is defined %}
    max-lease-time {{ host_.max_lease_time }};
{% endif %}
  }
{% endfor %}
{% endif %}
}

{% endfor %}
{% endif %}
